<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Blog Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="blog.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="text-muted" href="#">Subscribe</a>
          </div>
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="#">Large</a>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <a class="text-muted" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
            </a>
            <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
          </div>
        </div>
      </header>

      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" href="#">Rent Control</a>
          <a class="p-2 text-muted" href="#">Zoning Code</a>
          <a class="p-2 text-muted" href="#">Housing Choice Voucher Program</a>
          <a class="p-2 text-muted" href="#">Healthcare</a>
          <a class="p-2 text-muted" href="#">Other Hot Topics</a>
        </nav>
      </div>

      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">Zoning Code</h1>
          <p class="lead my-3">The Zoning Code of Miami-Dade County, Florida, is available online under Chapter 33 of the County Code. To obtain a copy of the complete Miami-Dade County Code, call Municipal Code Corporation at 1-800-262-2633.</p>
          <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
          </div>
        </div>
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <h3 class="mb-0">
          </div>
        </div>
      </div>
    </div>
          <div class="blog-post">
            <h2 class="blog-post-title">Zoning Code in Miami-Dade county</h2>
            <p class="blog-post-meta">October 6, 2018 by <a href="#">Mark</a></p>

            <p>The Zoning Code of Miami-Dade County, Florida, is available online under Chapter 33 of the County Code. To obtain a copy of the complete Miami-Dade County Code, call Municipal Code Corporation at 1-800-262-2633.
The form-based section of the Zoning Code is also known as the Standard Urban Centers District Regulations (SUCO) and it regulates land development in the infill and redevelopment areas of unincorporated Miami-Dade County. These areas are also known as Urban Centers and Mixed-Use Corridors, and are designated in the County’s Comprehensive Development Master Plan (CDMP) as areas eligible for higher densities and intensities due to their proximity to premium transit service.
In addition to SUCO, these areas are governed by the individual Urban Center District regulations, which are ordinances that customized the vision developed for these areas as part of the County’s area planning effort.</p>
            <ol>
          </div><!-- /.blog-post -->


          </div><!-- /.blog-post -->

          <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="#">Older</a>
            <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
          </nav>

        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
          <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">About Community Envolvement</h4>
            <p class="mb-0">Community Councils were primarily created to make zoning and land use decisions in a setting more accessible to the community. Community Councils also serve as advisory liaisons from their communities to the Board of County Commissioners and County staff, relaying relevant information and recommendations on selected concerns of the council area. Community Councils make recommendations to the County Commission on capital, programming and operational priorities for municipal services such as police, parks, fire and roadway maintenance in their area as well as relaying other concerns and needs of local residents. Each council serves one of ten geographic areas in unincorporated Miami-Dade County. See each area's page for the related map showing their boundaries. You can also use our online application to find which area you live in.</p>
          </div>
          <div class="p-3">
            <h4 class="font-italic">Archives</h4>
            <ol class="list-unstyled mb-0">
              <li><a href="#">March 2015</a></li>
              <li><a href="#">February 2018</a></li>
              <li><a href="#">January 2012</a></li>
              <li><a href="#">December 2016</a></li>
              <li><a href="#">November 2017</a></li>
              <li><a href="#">October 2017</a></li>
              <li><a href="#">September 2017</a></li>
              <li><a href="#">August 2018</a></li>
              <li><a href="#">July 2018</a></li>
              <li><a href="#">June 2017</a></li>
              <li><a href="#">May 2017</a></li>
              <li><a href="#">April 2017</a></li>
            </ol>
          </div>

          <div class="p-3">
            <h4 class="font-italic">Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </main><!-- /.container -->

    <footer class="blog-footer">
      <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
      });
    </script>
  

<svg xmlns="http://www.w3.org/2000/svg" width="200" height="250" viewBox="0 0 200 250" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="13" style="font-weight:bold;font-size:13pt;font-family:Arial, Helvetica, Open Sans, sans-serif">