<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">
    <title>Radical Partners</title>
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/side-menu-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="defaultview.css">
        <!--<![endif]-->
</head>
<body>
<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
                <li class="pure-menu-item"><a href="admin.html" class="pure-menu-link">ADMINISTRATION</a></li>
            <li class="pure-menu-item"><a href="DonationPage.html" class="pure-menu-link">DONATE</a></li>
            <a href="https://www.facebook.com/radicalpartners/"><img border="0" alt="Facebook" src="facebook.jpg" width="75" height="75">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <a class="pure-menu-heading" href="#">Categories</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item menu-item-divided pure-menu-selected">
                    <a href="#" class="pure-menu-link">Rent Control</a>
                </li>
                <li class="pure-menu-item menu-item-divided pure-menu-selected">
                    <a href="zoning_codes.html" class="pure-menu-link">Zoning Code</a>
                </li>
                <li class="pure-menu-item menu-item-divided pure-menu-selected">
                    <a href="#" class="pure-menu-link">Voucher Program</a>
                </li>
                <li class="pure-menu-item menu-item-divided pure-menu-selected">
                    <a href="#" class="pure-menu-link">Healthcare</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="main">
        <div class="header">
            <h1>Radical Partners</h1>
            <h2>The Future of Transit and Mobility in Miami</h2>
        </div>

        <div class="content">
            <h2 class="content-subhead">Share your opinion</h2>
            <p>We identify issues that matter to the future of our region and activate our community to tackle those issues together.</p>

            <h2 class="content-subhead">100 Great Ideas
</h2>
            <p>Our 100 Great Ideas campaigns are online conversations where we invite anyone and everyone to share their opinion about the best way to solve a pressing community issue. At the end of the campaigns, we synthesize all ideas into a report which we share broadly. We then bring the top ideas to the decision-makers in the community who have the ability to implement them.</p>
            
            <div class="pure-g">
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="image_defaultview1.jpg" style="width: 240px;height: 180px;" alt="Ideas">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="image_defaultview3.jpg" style="width: 240px;height: 180px;" alt="Ideas">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="image_defaultview2.png" style="width: 240px;height: 180px;" alt="Miami">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="image_defaultview4.jpg" style="width: 240px;height: 180px;" alt="Miami">
                </div>
            </div>
<h2 class="content-subhead">Climate Resiliency and Sustainability</h2>
            <p>Our fifth campaign this Fall (November 12th-16th, 2018) will focus on Climate Resilience and Sustainability.

We're already experiencing the negative impacts of climate change in South Florida, and we desperately need to elevate and implement solutions to both help us adapt to rising seas and higher temperatures and help us build a more sustainable way of living that protects our planet and region for many generations to come.

Starting November 12th, everyone in our region is invited to a 5-day, online conversation to brainstorm solutions on how to build a more resilient and sustainable community. Right now, put your (hopefully recyclable!) thinking caps on, join the Facebook group, and get ready to dive into the conversation on Nov 12th. 

</p>
            
        </div>
    </div>
</div>
<script src="js/ui.js"></script>

</body>
</html>
